/.bundle/
/.byebug_history
/log/*
!/log/.keep
/tmp/
/vendor/*
!/vendor/javascript/
/vendor/javascript/*
!/vendor/javascript/.keep
.env
.baseline/
.perfgate/
config/master.key
config/credentials/*.key
*.gem
*.sqlite3
node_modules/
